<div>
    <table class="table" border="1">
        <tr>
            <th>Valid</th>
            <th>Touched</th> 
            <th>Pristine</th> 
            <th>Dirty</th> 
        </tr>   
        <tr>
            <td>{{ variavel.valid | json }}</td>
            <td>{{ variavel.touched | json }}</td>
            <td>{{ variavel.pristine | json }}</td>
            <td>{{ variavel.dirty | json }}</td>
        </tr>
    </table>
</div> 
