<p>data-driven works!</p>

<form [formGroup]="meuForm" (submit)="onSubmit()">
        <div class="form-group">
          <label for="exampleInputEmail1">Email</label>
          <input type="email"  class="form-control" formControlName="email" aria-describedby="emailHelp" placeholder="Enter email">
          
       
        </div>  
        <app-debug-campo [variavel]="meuForm.controls.email"></app-debug-campo>
    
        <div class="form-group">
          <label for="exampleInputPassword1">Password</label>
          <input type="password" required class="form-control" 
            formControlName="senha" placeholder="Password">
        </div>
        <app-debug-campo [variavel]="meuForm.controls.senha" ></app-debug-campo>
    
        <div class="form-check">
          <input type="checkbox" class="form-check-input" id="exampleCheck1">
          <label class="form-check-label" for="exampleCheck1">Check me out</label>
        </div>
        <button type="submit" [disabled]="meuForm.valid == false"  class="btn btn-primary" >Submit</button>
</form>