<form [formGroup]="meuForm" (submit)="onSubmit()">
    <div class="form-group">
      <label for="exampleInputId1">Id</label>
      <input type="text"  class="form-control" formControlName="id" placeholder="Enter Id" name="id">
    </div>  

    <div class="form-group">
      <label for="nome">Nome</label>
      <input type="text" required class="form-control" 
        formControlName="nome" placeholder="Nome" name="nome">
    </div>
    

    <div class="form-group">
        <label for="idade">Idade</label>
        <input type="text" required class="form-control" 
          formControlName="idade" placeholder="Idade">
      </div>

    <button type="submit"  class="btn btn-primary" >Submit</button>
  </form>
