<form [formGroup]="meuForm" (submit)="onSubmit()">
  <div formGroupName="professor">
    <div class="form-group">
      <label for="exampleInputId1">Id</label>
      <input type="text"  class="form-control" formControlName="id" placeholder="Enter Id" name="id">
      <app-msg-erro [isError]="isErrorCampo('professor.id')"   mensagem="Id Obrigatório"></app-msg-erro>
    </div>  
    <app-debug-campo [variavel]="getCampo('professor.id')" ></app-debug-campo>

    <div class="form-group">
      <label for="nome">Nome</label>
      <input type="text" required class="form-control" 
        formControlName="nome" placeholder="Nome" name="nome">
      <app-msg-erro [isError]="isErrorCampo('professor.nome')" mensagem="Nome Obrigatório"></app-msg-erro>
    </div>
    <app-debug-campo [variavel]="getCampo('professor.nome')" ></app-debug-campo>
  </div> 

    <button type="submit"  class="btn btn-primary" >Submit</button>
  </form>
