<p>professor-detalhes works!</p>
{{ professor | json}}

<br> <br />

Idade:
<button class="btn btn-primary" (click)="addContador()">+</button>
    {{ idade }}
<button class="btn btn-primary" (click)="removeContador()">-</button>

<br><br />