<div class="float-right">
  <button [routerLink]= "['novo']" class="btn btn-primary" >Add</button>
</div>

<div class="input-group mb-3">
    <div class="input-group-prepend">
      <span class="input-group-text" id="basic-addon1">#</span>
    </div>
    <input type="text" class="form-control" placeholder="Username" aria-label="Username" aria-describedby="basic-addon1"
    (keyup.enter)="mostrarMensagem(campoTexto.value)" (keyup)="onNomeChange(campoTexto.value)"
    #campoTexto
    >
</div>

  <!-- <button class="btn btn-outline-success" (click)="mostrarMensagemBotao(campoTexto.value)" >Este é um botão</button>

  <a href="http://uol.com.br" target="_blank">abc</a><br>

  <a href="{{url}}" target="_blank">Direcionamento Interpolação </a><br>

  <a [href]="url" target="_blank">Direcionamento Property Biding</a>

<div class="input-group mb-3">
    <input type="text" class="form-control" [(ngModel)]="nomeNovoProfessor2WayDatabiding">
</div> 

<p>Digitei: {{nomeNovoProfessor2WayDatabiding}}</p> -->

<div >
  <table class="table">
    <thead>
      <tr>
        <th scope="col" class="text-center">#</th>
        <th scope="col" class="text-center">Nome</th>
        <th scope="col" class="text-center">Ações</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let p of professores">
        <td scope="row"> {{ p.idprofessor }} </td>
        <td> {{ p.nome }} </td>

        <td class="text-center">
          <button class="btn btn-info" [routerLink]="['/professores', p.idprofessor]" routerLinkActive="router-link-active"  
              style="margin-right: 5px;">Editar</button>
          <button class="btn btn-danger" (click)="deleteProf(p.idprofessor)">Deletar</button>
        </td>
      </tr>
    </tbody>
  </table>
</div>

<!-- <app-professor-detalhes [profFilho]="professores" (emitirEvento)="receberEvento($event)"></app-professor-detalhes> -->


<button class="btn btn-primary" (click)="devoMostrarMensagem()">Mostrar Mensagem</button>

<div *ngIf="isMostrarMensagem == true" class="alert alert-dark" role="alert">
    Não há professores suficientes!!!!
  </div>

  <button class="btn btn-primary" (click)="addContador()">+</button>
    {{ contador }}
  <button class="btn btn-primary" (click)="removeContador()">-</button>

  <div *ngIf="contador < 5 " class="alert alert-danger" role="alert">
    Contador Menor que 5
  </div>

<div *ngIf="contador > 5 " class="alert alert-success" role="alert">
      Contador MAIOR QUE 5
  </div>

  <p class="aumentarFonte" 
    [style.backgroundColor]="getBackgroundColor()"
    [class.aumentarFonte]="isMouseOver == true"
    [class.fundoAmarelo]="isMouseOver == true" (mouseover)="onMouseOver()" (mouseleave)="onMouseLeave()"
  > Este é um texto</p>
