<p>template-driven works!</p>

<form #meuForm="ngForm" (submit)="onSubmit(meuForm)">
    <div class="form-group">
      <label for="exampleInputEmail1">Email</label>
      <input type="email" required class="form-control" name="email" 
      [(ngModel)]="emailModel" #email="ngModel" aria-describedby="emailHelp" placeholder="Enter email">
      <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
        <app-msg-erro [isError]="isErrorCampo(email)" mensagem="Campo Obrigatório"></app-msg-erro>
    </div>  
    <app-debug-campo [variavel]="email" ></app-debug-campo>

    <div class="form-group">
      <label for="exampleInputPassword1">Password</label>
      <input type="password" required class="form-control" 
        name="senha" [(ngModel)]="senhaModel" #senha="ngModel" placeholder="Password">
        <app-msg-erro [isError]="isErrorCampo(senha)" mensagem="Campo Obrigatório"></app-msg-erro>
    </div>
    <app-debug-campo [variavel]="senha" ></app-debug-campo>

    <div class="form-check">
      <input type="checkbox" class="form-check-input" id="exampleCheck1">
      <label class="form-check-label" for="exampleCheck1">Check me out</label>
    </div>
    <button type="submit" [disabled]="meuForm.valid == false" (click)="onSubmit(meuForm)" class="btn btn-primary" >Submit</button>
  </form>
<app-debug-form [variavel]="meuForm "></app-debug-form> 