
<app-menu *ngIf=" menuClick == true" ></app-menu>

<div class="container">

    <button class="btn btn-primary" (click)="clickButtonMenu()">Change</button>
    <router-outlet></router-outlet>
    <!-- <app-aluno></app-aluno>
    <app-professor></app-professor> -->
</div>

