<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">MENU</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="professores" routerLinkActive="active">Professor</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" routerLink="alunos" routerLinkActive="active">Aluno</a>
        </li>

        <li class="nav-item">
            <a class="nav-link" routerLink="professores/:id" routerLinkActive="active">Detalhes</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" routerLink="forms/template" routerLinkActive="active">Template Driven</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" routerLink="forms/data" routerLinkActive="active">Data Driven</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" routerLink="login" routerLinkActive="active">Login</a>
        </li>

      </ul>
      <form class="form-inline my-2 my-lg-0" >
        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        <button class="btn btn-primary" type="submit">Deslogar</button>
      </form>
    </div>
  </nav>

