<div class="float-right">
  <button [routerLink]= "['novo']" class="btn btn-primary" >Add</button>
</div>

<div *ngIf="alunos.length > 1" >
    <table class="table">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Nome</th>
          <th scope="col">Idade</th>
          <th scope="col">Cód Curso</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let a of alunos">
          <td scope="row"> {{ a.idaluno}} </td>
          <td> {{ a.nome }} </td>
          <td> {{ a.idade }}</td>
          <td> {{ a.curso?.idcurso }}</td>
        </tr>
      </tbody>
    </table>
  </div>